@use "variables" as v;

*,
::after,
::before {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: v.$dark-blue-sign-up;
  font-family: v.$font-family-open-sans;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

.app {
  max-width: 100%;
  margin: 0 auto;

  &__navigation--section {
    margin-top: 40px;
    padding-inline: 90px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        &:last-child {
          ul {
            display: flex;
            gap: 50px;
            a {
              color: v.$white;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
  &__header--section {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: v.$white;
    text-align: center;
    width: 50%;

    button {
      width: 260px;
      height: 46px;
      margin: 0 auto;
      background-color: v.$blue;
      border-radius: 30px;
      color: v.$white;
      font-size: 1rem;
    }
    img {
      display: inline-block;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 25px;
      width: 100%;
    }

    p {
      padding: 20px 0;
      font-size: 1.25rem;
    }
  }
  &__main--section {
    background-color: v.$dark-blue-main-bg;
    position: relative;
    margin-top: -28px;
    ul {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      position: relative;
      max-width: 1080px;
      width: 100%;
      margin: 0 auto;
      padding-inline: 100px;
      gap: 60px;
      li {
        color: v.$white;
        text-align: center;
        width: 100%;

        img {
          padding-bottom: 15px;
        }
        p {
          font-size: 1.25rem;
          line-height: 1.9;
        }
        h3 {
          font-size: 1.25rem;
        }
      }
    }
  }
  &__footer--section {
    background-color: green;
  }
}

.illustration {
  position: relative;
  margin-top: -200px;
  z-index: -1;
  img {
    width: 100%;
    &:last-child {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .app {
    &__navigation--section {
      padding: 0;
      ul {
        li {
          &:last-child {
            ul {
              gap: 20px;
              li {
                a {
                  font-size: 1rem;
                }
              }
            }
          }
          img {
            width: 80%;
          }
        }
      }
    }
    &__header--section {
      width: 100%;
      padding-inline: 20px;
      h1,
      p {
        padding: 10px 0;
      }
      p {
        font-size: 1rem;
        line-height: 1.7;
      }
      h1 {
        font-size: 1.75rem;
      }
      button {
        margin-bottom: 200px;
        margin-top: 20px;
      }
    }
    &__main--section {
      ul {
        display: block;
        padding-inline: 30px;
        li {
          margin-bottom: 50px;
          img {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
